.card {
  width: 40vw;
  background-color: white;
  padding: 4em 0.8em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: solid;
  border-color: white;
}


.show-card-title{
  font-family: 'Unbounded';
  background-color: #000DA6;
  padding: 0;
  color: white;
  font-style: italic;
}
