
.tkat {
    transition: 0.3s all ease;
}
.tkas {
    overflow: visible;
}
.tkar {
    padding: 0px;
}
.tkaq {
    min-width: 50px;
}
.tkap {
    width: 70px;
}
.tkao {
    position: relative;
}
.tkan {
    background-color: #010751;
}
.tkae {
    height: 100%;
}
* {
    box-sizing: border-box;
}

div {
    display: block;
}
.tkah {
    -webkit-box-direction: normal;
}











.tkcw {
  padding-bottom: 14px;
}
.tkcv {
  padding-top: 14px;
}
.tkcu {
  margin-left: 0px;
}
.tkct {
  width: 100%;
}
.tkb0 {
  -webkit-box-pack: center;
  justify-content: center;
}
.tkaz {
  -webkit-box-align: center;
  align-items: center;
}
.tkah {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.tkag {
  display: flex;
}
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tkbj {

}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
}
